# The base url to retrieve BBC News link
base_api_url=https://www.nytimes.com/sitemap/{year}/{month:0>2}/{day:0>2}/

# The start date to crawl
# Format: yyyy-mm-dd
start_date=2016-12-31

# The end date to crawl, not included
# format: yyyy-mm-dd
end_date=2017-01-01

# The step time
# Unit can be day, month, year
step_unit=day
step=1

# Storage path
path=./dataset/nytimes/

# Time interval between two fetches
# Unit: seconds
# default: 0.2
sleep=1
